.c1{
    border: 2px solid black;
    padding: 50px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    height: 140px;
    background-color: black;
    width: 90px;
    margin-left: 67px;
    margin-right: 40px;
}
.c2{
    border: 3px solid white;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
.c3{
    border: 3px solid white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.c4{
    border: 3px solid white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.c5{
    border: 2px solid black;
    padding: 50px;
    background-color: black;
    margin-right: 900px;
    border-top-right-radius: 70px;
    border-top-left-radius: 50px;
}
.c6{
    border: 2px solid black;
    padding: 30px;
    margin-left: 90px;
    margin-right: 1000px;
    background-color: black;
}
.c7{
    border: 2px solid black;
    padding: 30px;
    margin-left: 10px;
    margin-right: 900px;
    background-color: black;
}
.c8{
    border: 2px solid;
   
}